@{
    ViewData["Title"] = "Home Page";
}

@section Banner{
    <div class="alert alert-warning text-center">
        <div>
            Desenvolvido e criado por Matheus Sanches
        </div>
        <div class="fa-3x">
            <a href="https://github.com/MatheusSanches02/SistemaJogadoresFutebol" target="_blank"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.linkedin.com/in/matheus-sanches-barreiros-96a022207/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    
}


    <div class="text-center">
        <h1 class="display-4">Fala ae jogador!</h1>
        <p>Conheça e cadastre os craques da bola!</p>
        
    </div>
    <div style="text-align:center;">
        <img src="images/ney.jpg" alt="Menino Ney ousadia e alegria" height="200" />
    </div>
    
